$popoverWidth: 380px;
$popoverHeight: 330px;
$popoverBackgroundcolor: #FFFFFF;


$mainHeaderBackgroundColor: #2196F3;
$mainHeaderColor: #f5f5f5;

$dropdown-divider-bg: lighten($mainHeaderBackgroundColor, 20%);

$highlight: lighten($mainHeaderBackgroundColor, 40%);