.recorder-transparent-button {
    padding: 3px 8px;
    font-size: .75rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 3px;
    color: #909090;

    & > .recorder-hidden-button-icon {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity .2s linear;
    }

    &:hover {
        background-color: #dc3545;
        color: #ffeeee;
        text-shadow: 0 -1px 0 #861924;
        transition: background-color .5s ease, text-shadow .5s ease;

        & > .recorder-hidden-button-icon {
            visibility: visible;
            opacity: 1;
        }
    }
}