.recorder-highlight {
    background-color: $highlight;
}

.fa-drag-handle::before {
    content: "\F142 \F142";
    letter-spacing: -.07em;
}

.recorder-move-handler {
    padding: 0 .3rem;
    margin: 0 .16rem;
    border: none;
    background-color: transparent;
    line-height: 1.4rem;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
    color: #9a9a9a;

    &:focus {
        outline: none;
    }

    &:active {
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
        cursor: grabbing;
    }
}

.recorder-sticky {
    position: sticky;
    left: 0;
    top: 0;
}