.recorder-viewport {
    background-color: #FFFFFF;
    min-height: 6.5rem;
    overflow: auto;
    height: 100%;

    &::-webkit-scrollbar {
        transition: box-shadow 1000ms linear;
        background-color: transparent;
        border-radius: 1px;
        width: 9px;

        &:hover {
            box-shadow: inset 0 0 7px 0 #CCC;
        }
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        transition: background-color 1000ms linear;
        background-color: #888888;
        border-radius: 1px;

        &:hover {
            background-color: #555555;
            width: 10px;
        }
    }

    .recorder-viewport-full-banner {
        height: auto;
    }

    .recorder-viewport-banner-pill {
        display: none;
        background-color: #FFFFFF;
        padding: 11px;
        border: 1px solid black;
        border-radius: 2px;
    }

    .recorder-viewport-content {
        transition: margin-top 300ms linear;
    }
}