@import './assets/scss/variables';
@import './assets/scss/app/misc';
@import './assets/scss/app/buttons';
@import './assets/scss/app/lists';
@import './assets/scss/app/viewport';
@import '~bootstrap/scss/bootstrap.scss';

.banner {
    background-color: transparent;

    & > .banner-content {
        margin-top: 100px;
        background-color: rgba(255, 255, 255, .3);
        padding: 30px;
        display: inline-block;
    }
}

.bg {
    background: url('../static/img/background.jpg') no-repeat center center;
    position: fixed;
    width: 100%;
    height: 700px;
    top: 0;
    left: 0;
    z-index: -1;
}

.main-content {
    background-color: #fff;
}

.recorder-popover {
    width: $popoverWidth;
    height: $popoverHeight;
    background-color: $popoverBackgroundcolor;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2), 0 4px 20px 0 rgba(0, 0, 0, .19);
    overflow: hidden;
    line-height: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 100px;
    margin-left: 200px;

    * {
        box-sizing: border-box;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }

    .recorder-popover-header {
        background-color: $mainHeaderBackgroundColor;
        color: $mainHeaderColor;
        padding: 8px;

        .dropdown-menu {
            background-color: $mainHeaderBackgroundColor;

            .dropdown-item {
                color: $mainHeaderColor;

                &:hover {
                    background-color: darken($mainHeaderBackgroundColor, 20%);
                    transition: background-color 200ms linear; 
                }
            }
        }
    }

    .recorder-title {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .recorder-popover-body {
        height: $popoverHeight - 60;
        overflow: auto;
    }

    .card {
        border-radius: 0;
        border: none;

        .card-header {
            border-radius: 0;
            border: none;
            background-color: $popoverBackgroundcolor;
        }
    }
}

.recorder-element-container {
    position: sticky;
    top: 0;
    left: 0;
    overflow: hidden;

    .recorder-element-pill {
        background-color: #FFFFFF;
        display: block;
        padding: .28rem;
        border-radius: .1px;
        margin-bottom: 1rem;
    }
}

.recorder-command-pill {
    letter-spacing: -.007rem;
    padding: 0.4rem .3rem;
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;

    .recorder-command {
        padding: 2px 5px;
        border-radius: 1px;
        font-size: .9rem;
    }

    .recorder-command-actions {
        visibility: hidden;
        opacity: 0;
    }

    &:hover {
        background-color: #fbfbfb;
        transition: background-color 0.5s ease;

        .recorder-command-actions {
            visibility: visible;
            opacity: 1;
            transition: visibility 0s, opacity .2s linear;
        }
    }
}
